{% extends 'base-auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <h1>Login</h1>
                    <p class="text-muted">Sign In to your account</p>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                        <use xlink:href="{{ asset('build/images/svg/free.svg#cil-user') }}"></use>
                                    </svg>
                                </span>
                            </div>
                            <input type="text" value="{{ last_username }}" placeholder="Username" name="username" id="inputUsername" class="form-control" required autofocus>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg class="c-icon">
                                    <use xlink:href="{{ asset('build/images/svg/free.svg#cil-lock-locked') }}"></use>
                                    </svg>
                                </span>
                            </div>
                            <input type="password" name="password" placeholder="Password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                        <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary px-4" type="submit">Sign in</button>
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-link px-0" type="button">Forgot password?</a>
                        </div>
                    </div>
                    </form>
                    <div class="text-right">
                        <a href="{{ path('app_main') }}">Main</a>
                    </div>
                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>
                        <h2>Sign up</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="{{ path('app_register') }}" class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
